<div class="container">
    <h2>Edit Task </h2>
    <%= render 'form', task: @task %>

    <hr>
    <%= link_to tasks_path do %>
    <i class="fas fa-undo-alt"></i> Back to list
    <% end %>

</div>
