<div class="container">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <h1><%= @task.title %></h1>
        <%= link_to edit_task_path(@task), :class => "btn btn-ghost"  do %>
            <i class="fas fa-pencil-alt"></i> Edit this task
        <% end %>
    </div>
    
    <div class="card bg-light d-flex pt-2 justify-content-center">
        <div class="card-body">
            <p><%= @task.details %><p>
        </div>
    </div>

    <div class="is-completed pt-4">
        <p>
            <% if @task.completed %> 
                <i class="far fa-check-square"></i> This task is completed
            <% else %>
                <i class="far fa-square"></i> This task is not completed yet
            <% end %>
        </p>
    </div>

    <div class="line"></div>
    <div class="footer pt-3">
        <%= link_to tasks_path do %>
            <i class="fas fa-undo-alt"></i> Back to the list
        <% end %>
    </div>
</div>

