// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
    margin: 25px;
    padding: 15px;
}

.card {
    width: 80%;
    margin-top: 20px;
}

p {
    font-size: 20px;
}

.line {
    width: 80%;
    margin-top: 1.5rem;
    margin-bottom: .6rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

li {
    list-style-type: none;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: mediumblue;
    &:hover {
        transition: all .2s ease-in-out;
        color: red;
        text-decoration: underline;
    }
}


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

